<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rank</title>
    <link rel="stylesheet" href="../../assets/css/rank.css">
    <link rel="stylesheet" href="../../assets/css/centralizar.css">
    <link rel="icon" href="../../assets/img/logo.png">

    <script src="../../assets/vendor/scripts/jquery-3.7.1.js"></script>
    <script src="../controllers/controllerRank.js" defer></script>
</head>

<body>
    <a href="inicio.html">
        <button class="btn-voltar">Voltar</button>
    </a>
    <table class="tabela">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody id="table-pontuacao">
            <tr>
                <td><img src="../../assets/img/medalhas/Medal-Safira.png" class="img-medalha"></td>
                <td>GFREITAS</td>
                <td>300</td>
            </tr>
            <tr>
                <td><img src="../../assets/img/medalhas/Medal-Rubi.png" class="img-medalha"></td>
                <td>GFREITAS</td>
                <td>300</td>
            </tr>
            <tr>
                <td><img src="../../assets/img/medalhas/Medal-Diamante.png" class="img-medalha"></td>
                <td>GFREITAS</td>
                <td>300</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table class="tabela">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Tempo</th>
            </tr>
        </thead>
        <tbody id="table-tempo">
            <tr>
                <td><img src="../../assets/img/medalhas/Medal-Ouro.png" class="img-medalha"></td>
                <td>GFREITAS</td>
                <td>13:38</td>
            </tr>
            <tr>
                <td><img src="../../assets/img/medalhas/Medal-Prata.png" class="img-medalha"></td>
                <td>GFREITAS</td>
                <td>13:38</td>
            </tr>
            <tr>
                <td><img src="../../assets/img/medalhas/Medal-Bronze.png" class="img-medalha"></td>
                <td>GFREITAS</td>
                <td>13:38</td>
            </tr>
        </tbody>
    </table>


</body>
</html>